{% extends 'base.html' %}


{% block title %}
Main
{% endblock %}

{% block content %}

<div class="INDEX-main">
    <div class="content">С каждым днём для нас всё ближе приближается роковой час ЕГЭ, и в предверии данного события не лишним будет ещё раз повторить изученный материал и отработать его на практике до идеального состояния</div>
    <div class="sideRight"><img src="" width=100% width=100% style="border-radius: 10px;"></img></div>
</div>
<div class="full-content item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut. Tellus molestie nunc non blandit massa. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Mauris ultrices eros in cursus turpis massa tincidunt dui. Turpis nunc eget lorem dolor. Viverra ipsum nunc aliquet bibendum enim. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Tellus pellentesque eu tincidunt tortor aliquam. Donec pretium vulputate sapien nec sagittis. Sagittis eu volutpat odio facilisis mauris sit amet. Quis viverra nibh cras pulvinar. Lacus suspendisse faucibus interdum posuere. Scelerisque varius morbi enim nunc.


    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut. Tellus molestie nunc non blandit massa. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Mauris ultrices eros in cursus turpis massa tincidunt dui. Turpis nunc eget lorem dolor. Viverra ipsum nunc aliquet bibendum enim. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Tellus pellentesque eu tincidunt tortor aliquam. Donec pretium vulputate sapien nec sagittis. Sagittis eu volutpat odio facilisis mauris sit amet. Quis viverra nibh cras pulvinar. Lacus suspendisse faucibus interdum posuere. Scelerisque varius morbi enim nunc.
</div>
{% endblock %}
